<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Empleado</title>
    {% load static %}
    <style>
      body {
          background-image: url("{% static '/fondo.jpg' %}");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }
  </style>
    <link rel="stylesheet" href="{% static 'editar.css' %}" />
</head>
<body>
    <div class="container">
        <h1>Editar Empleado: {{ empleado.nombre }} {{ empleado.apellido }}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
        <div class="volver-home">
            <a href="{% url 'home' %}">Volver al Home</a>
        </div>
    </div>
</body>
</html>
